<% title "Treatments" %>

<table class="zebra-striped" id="sortTable">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User From</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% for treatment in @treatments %>
      <tr>
        <td><%= treatment.title %></td>
        <td><%= HTML_Truncator.truncate(treatment.content, 7) %></td>
        <td><%= user_full_name_link_to treatment.user_from %></td>
        <td>
          <%= link_to "Show", treatment if can? :read, treatment %>
          <%= link_to "Edit", edit_treatment_path(treatment) if can? :update, treatment %>
          <%= link_to "Destroy", treatment, :confirm => 'Are you sure?', :method => :delete if can? :destroy, treatment %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div>
  <%= button_to "New Treatment", new_treatment_path, :class => "btn primary", :method => :get if can? :create, Treatment %>
</div>
