<%= form_for @position do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :department %><br />
    <%= f.collection_select :department_id, Department.all, :id, :name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :manager %><br />
    <%= f.collection_select :manager_id, Position.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
