<%= form_for @position do |f| %>
    <%= f.error_messages %>

    <div class="clearfix">
      <%= f.label t(:positions_title) %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label t(:positions_department) %>
      <div class="input">
        <%= f.collection_select :department_id, Department.all, :id, :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label t(:positions_manager) %>
      <div class="input">
        <%= f.grouped_collection_select :manager_id, Department.all, :positions, :name, :id, :name, :include_blank => true %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t(:positions_new), :class => "btn primary" %>
    </div>
<% end %>
