<% title "Positions" %>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Department</th>
      <th>Manager</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for position in @positions %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.department.name if position.department.present? %></td>
        <td><%= position.manager.name if position.manager.present?%></td>
        <td>
          <%= link_to "Show", position %>
          <%= link_to "Edit", edit_position_path(position) %>
          <%= link_to "Destroy", position, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tboby>
</table>

<div><%= button_to "New Position", new_position_path, :class => "btn primary", :method => :get %></div>
