<% title t(:positions_title) %>

<p>
  <strong><%= t(:positions_department) %>:</strong>
  <%= @position.department.name if @position.department.present? %>
</p>
<p>
  <strong><%= t(:positions_title) %>:</strong>
  <%= @position.name %>
</p>
<p>
  <strong><%= t(:positions_manager) %>:</strong>
  <%= @position.manager.name if @position.manager.present? %>
</p>

<p>
  <%= link_to t(:common_edit), edit_position_path(@position) if can? :update, @position %> |
  <%= link_to t(:common_delete), @position, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @position %>
  |
  <%= link_to t(:common_back_to_list), positions_path if can? :read, Position %>
</p>
