<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :position_id %><br />
    <%= f.number_field :position_id %>
  </p>
  <p>
    <%= f.label :chief_id %><br />
    <%= f.number_field :chief_id %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<%= semantic_form_for @user do |f| %>
    <%= f.inputs %>
    <%= f.buttons %>
<% end %>