<% title t(:users_title) %>

<table class="zebra-striped" id="sortTable">
  <thead>
  <tr>
    <th><%= t(:users_email) %></th>
    <th><%= t(:users_first_name) %></th>
    <th><%= t(:users_last_name) %></th>
    <th><%= t(:users_position) %></th>
    <th><%= t(:users_chief) %></th>
    <th><%= t(:users_role) %></th>
    <th><%= t(:users_actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.position.name if user.position.present? %></td>
        <td><%= user_full_name_link_to user.chief %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to t(:common_show), user if can? :read, user %>
          <%= link_to t(:common_edit), edit_user_path(user) if can? :update, user %>
          <%= link_to t(:common_delete), user, :confirm => 'Are you sure?', :method => :delete if can? :destroy, user %>
        </td>
      </tr>
  <% end %>
  <tbody>
  </table>

<div>
  <%= button_to t(:users_new), new_user_path, :class => "btn primary", :method => :get if can? :read, User %>
  <%= link_to t(:users_enroll_statistics), users_enrollment_statistics_path %>
  <br/>
  <%= link_to "Активность работников", users_activity_path %>
</div>