<% title "Users" %>

<table class="zebra-striped" id="sortTable">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
      <th>Chief</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.position.name if user.position.present? %></td>
        <td><%= user_full_name_link_to user.chief %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Show", user %>
          <%= link_to "Edit", edit_user_path(user) %>
          <%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>

<div><%= button_to "New User", new_user_path, :class => "btn primary", :method => :get %></div>
