<%= form_for @department do |f| %>
    <%= f.error_messages %>
    <div class="clearfix">
      <%= f.label t(:departments_dept_name) %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t(:departments_new), :class => "btn primary" %>
    </div>
<% end %>
