<% title "Departments" %>

<table class="zebra-striped" id="sortTable">
  <thead>
  <tr>
    <th><%= t(:departments_dept_name) %></th>
    <th><%= t(:departments_actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% for department in @departments %>
      <tr>
        <td>
          <%= department.name %>
        </td>
        <td>
          <%= link_to t(:common_edit), edit_department_path(department) if can? :update, department %>
          <%= link_to t(:common_delete), department, :confirm => 'Are you shure?', :method => :delete if can? :destroy, department %>
        </td>
      </tr>
  <% end %>
  <tbody>
  </table>

<div>
  <%= button_to t(:departments_new), new_department_path, :class => "btn primary", :method => :get if can? :create, Department %>
  <%= link_to t(:departments_size_statistics), departments_size_statistics_path %>
</div>