<% title t(:events_title) %>

<table class="zebra-striped" id="sortTable">
  <thead>
  <tr>
    <th><%= t(:events_table_title) %></th>
    <th><%= t(:events_description) %></th>
    <th><%= t(:events_start_at) %></th>
    <th><%= t(:events_end_at) %></th>
    <th><%= t(:events_actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% for event in @events %>
      <tr>
        <td><%= event.title %></td>
        <td><%= HTML_Truncator.truncate(event.description, 5) %></td>
        <td><%= event.start_at.to_s(:long) %></td>
        <td><%= event.end_at.to_s(:long) %></td>
        <td>
          <%= link_to t(:common_show), event if can? :read, event %>
          <%= link_to t(:common_edit), edit_event_path(event) if can? :update, event %>
          <%= link_to t(:common_delete), event, :confirm => 'Are you sure?', :method => :delete if can? :destroy, event %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div>
  <%= button_to t(:events_new), new_event_path, :class => "btn primary", :method => :get if can? :create, Event %>
</div>
