<% title "Event" %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Start At:</strong>
  <%= @event.start_at %>
</p>
<p>
  <strong>End At:</strong>
  <%= @event.end_at %>
</p>

<p>
  <%= link_to "Edit", edit_event_path(@event) if can? :update, @event %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @event %> |
  <%= link_to "View All", events_path if can? :read, Event %>
</p>
