<% title "Event" %>

<p>
  <strong><%= t(:events_table_title) %>:</strong>
  <%= @event.title %>
</p>
<p>
  <strong><%= t(:events_description) %>:</strong>
  <%= @event.description %>
</p>
<p>
  <strong><%= t(:events_start_at) %>:</strong>
  <%= @event.start_at %>
</p>
<p>
  <strong><%= t(:events_end_at) %>:</strong>
  <%= @event.end_at %>
</p>

<p>
  <%= link_to t(:common_edit), edit_event_path(@event) if can? :update, @event %> |
  <%= link_to t(:common_delete), @event, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @event %> |
  <%= link_to t(:common_back_to_list), events_path if can? :read, Event %>
</p>
