<% title "Activities" %>

<table class="zebra-striped" id="sortTable">
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>
  <thead>
  <tbody>
    <% for activity in @activities %>
      <tr>
        <td><%= link_to activity.user.full_name, activity.user %></td>
        <td><%= link_to activity.event.title, activity.event %></td>
        <td>
          <%= link_to "Show", activity %>
          <%= link_to "Edit", edit_activity_path(activity) %>
          <%= link_to "Destroy", activity, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>

<p><%= link_to "New Activity", new_activity_path %></p>
