<% title t(:activities_title) %>

<table class="zebra-striped" id="sortTable">
  <thead>
  <tr>
    <th><%= t(:activities_user) %></th>
    <th><%= t(:activities_event) %></th>
    <th><%= t(:activities_actions) %></th>
  </tr>
  <thead>
  <tbody>
  <% for activity in @activities %>
      <tr>
        <td><%= link_to activity.user.full_name, activity.user if can? :read, activity.user %></td>
        <td><%= link_to activity.event.title, activity.event if can? :read, activity.event %></td>
        <td>
          <%= link_to t(:common_show), activity if can? :read, activity %>
          <%= link_to t(:common_edit), edit_activity_path(activity) if can? :update, activity %>
          <%= link_to t(:common_delete), activity, :confirm => 'Are you sure?', :method => :delete if can? :destroy, activity %>
        </td>
      </tr>
  <% end %>
  <tbody>
</table>

<div>
  <%= button_to t(:activities_new), new_activity_path, :class => "btn primary", :method => :get if can? :create, Activity %>
</div>
