<% title "Activity" %>

<p>
  <strong>User:</strong>
  <%= link_to @activity.user.full_name, @activity.user %>
</p>
<p>
  <strong>Event:</strong>
  <%= link_to @activity.event.title, @activity.event %>
</p>

<p>
  <%= link_to "Edit", edit_activity_path(@activity) %> |
  <%= link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", activities_path %>
</p>
