<% title "Activity" %>

<p>
  <strong>User:</strong>
  <%= link_to @activity.user.full_name, @activity.user if can? :read, @activity.user %>
</p>
<p>
  <strong>Event:</strong>
  <%= link_to @activity.event.title, @activity.event if can? :read, @activity.event %>
</p>

<p>
  <%= link_to t(:common_edit), edit_activity_path(@activity) if can? :edit, @activity %> |
  <%= link_to t(:common_delete), @activity, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @activity %>
  |
  <%= link_to t(:common_view_all), activities_path if can? :read, Activity %>
</p>
